---
// Helpers
import { format } from "date-fns";
import { QuillDeltaToHtmlConverter } from "quill-delta-to-html";
import { checkIfLoggedIn } from "../lib/cookie-helper";

// Components
import Layout from "../layouts/BaseLayout.astro";
import Button from "../components/Button";
import DeleteArticleButton from "../components/DeleteArticleButton"

const { id } = Astro.params;

// Firebase
import firebase from "../lib/init-firebase";
import { getFirestore } from "firebase/firestore";
import { getArticle } from "../lib/article-firebase-helper";
const db = getFirestore(firebase);
const article = await getArticle({ db, docName: id });

function quillDeltaToHtml(delta) {
  const html = new QuillDeltaToHtmlConverter(delta, {
    customTagAttributes: (op) => {
      // Setting alt attributes
      if(op?.insert?.type === 'image' && op?.attributes?.alt){
        return {
          alt: op.attributes.alt
        }
      }
    }
  }).convert();
  return html;
}

const isLoggedIn = checkIfLoggedIn(Astro.request.headers);
---

<Layout title={article.title}>
  <div class="py-8 px-6 md:px-16 md:py-8">
    {isLoggedIn &&<div class="mb-3 flex gap-4">
      <a href={`/edit/${id}`}>
      <Button>Edit</Button>
      </a>
      <DeleteArticleButton articleId={id} client:load />
    </div>}
    <h1 class="text-3xl">{article.title}</h1>
    <div class="text-gray-400 mt-2">
      {format(new Date(article.updated_at.toDate()), "do MMM yyyy")}
    </div>
    <br />
    <div set:html={quillDeltaToHtml(article.description)}></div>
  </div>
</Layout>
