---
// import Header from "../components/Header.astro";
import Header from "../components/Header.jsx";

// Helpers
import { getTitle } from "../lib/about-site-firebase-helper";
import { checkIfLoggedIn } from "../lib/cookie-helper.js";

// Style
import "toastify-js/src/toastify.css";
import "../assets/index.css"

export interface Props {
  title?: string;
}

// Firebase
import firebase from "../lib/init-firebase";
import { getFirestore } from "firebase/firestore";
const db = getFirestore(firebase);

// Title
let navTitle = await getTitle(db);
if (!navTitle) {
  navTitle = "In a Park. On a Beach";
}
const title = Astro.props.title ?? navTitle;

const isLoggedIn = checkIfLoggedIn(Astro.request.headers);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    {
      isLoggedIn ? (
        <Header title={navTitle} isLoggedIn={isLoggedIn} client:load />
      ) : (
        <Header title={navTitle} />
      )
    }

    <slot />
  </body>
</html>
